<html>
<head>
    <%- include('./../css.ejs') %>
</head>
<body>
<h1>Gracias por iniciar sesión!</h1>
<p><%= user.username %></p>
<p><%= user.name %></p>
<p><%= user.password %></p>
</body>
<%- include('./../scripts.ejs') %>
</html>